h1{
    margin: 0;
    margin-left: 40px;
    margin-bottom: 20px;
}
.faqs-box{
    height: 100%;
    width: 100%;
    background-color: #d3d3d3;
    padding: 25px;
}

.faqs-box .question-box{
    height: 100%;
    width: 100%;
    background-color:white;
    border-radius: 30px;
    padding: 25px;
    overflow: scroll;
}

.main-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.main-box .questions{
    background-color: gray;
}

.main-box .answers{
    background-color: #d3d3d3;
}
.main-box .questions, .main-box .answers{
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box .questions h5, .main-box .answers h5{
    margin: 0;
}

.main-box .questions .line, .main-box .answers .line{
    margin-left: 20px;
    margin-right: 10px;
    height: 100%;
    width: 7px;
}

.main-box .questions .line{
    background-color: rgb(253, 114, 0);
}

.main-box .answers .line{
    background-color: gray;
}